<%- include('header') -%>

<h1>Atvinnuumsókn</h1>

<form method="post" action="/">
  <div class="field<%= locals.isInvalid('name', data.errors) ?  ' field--invalid' : '' %>">
    <label for="name">Nafn</label>
    <input type="text" name="name" id="name" value="<%= data.name %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('email', data.errors) ?  ' field--invalid' : '' %>">
    <label for="email">Netfang</label>
    <input type="text" name="email" id="email" value="<%= data.email %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('phone', data.errors) ?  ' field--invalid' : '' %>">
    <label for="phone">Sími</label>
    <input type="text" name="phone" id="phone" value="<%= data.phone %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('text', data.errors) ?  ' field--invalid' : '' %>">
    <label for="text">Kynning á þér:</label>
    <textarea name="text" id="text"><%= data.text %></textarea>
  </div>

  <h2>Starf sem sótt er um:</h2>
  <div class="field field--radio<%= locals.isInvalid('job', data.errors) ?  ' field--invalid' : '' %>">
    <label><input type="radio" name="job" value="forritari" <%= data.job === 'forritari' ? 'checked' : '' %>> Forritari</label>
  </div>
  <div class="field field--radio<%= locals.isInvalid('job', data.errors) ?  ' field--invalid' : '' %>">
    <label><input type="radio" name="job" value="hönnuður" <%= data.job === 'hönnuður' ? 'checked' : '' %>> Hönnuður</label>
  </div>
  <div class="field field--radio<%= locals.isInvalid('job', data.errors) ?  ' field--invalid' : '' %>">
    <label><input type="radio" name="job" value="verkefnastjóri" <%= data.job === 'verkefnastjóri' ? 'checked' : '' %>> Verkefnastjóri</label>
  </div>

  <% if (data.errors.length > 0) { %>
    <h2>Vandræði við að senda umsókn:</h2>
    <ul class="errors">
      <% data.errors.forEach((error) => { %>
        <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
    </ul>
  <% } %>

  <button>Senda umsókn</button>
</form>

<%- include('footer') -%>