<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:700" rel="stylesheet">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>

    </header>
    <main>
      <div class= "header">
        <% if (locals.user){ %>
          <div class="titles">
            <a class="<%= page === 'apply'? 'thisPage':'page'%>" href="./">Atvinnuumsókn</a>
            <a class="<%= page === 'application'? 'thisPage':'page'%>" href="./applications">Umsóknir</a>
            <a class="<%= page === 'admin'? 'thisPage':'page'%>" href="./admin">Notendur</a>
          </div>
          <div>
            <p><%- locals.user.username %></p>
            <a class='logOut' href="./logout">Útskrá</a>
          </div>
        <% } else { %>
          <div class="titles">
            <a class="<%= page === 'apply'? 'thisPage':'page'%>" href="../">Atvinnuumsókn</a>
            <a class="<%= page === 'applications'? 'thisPage':'page'%>" href="../login">Innskráning</a>
            <a class="<%= page === 'register'? 'thisPage':'page'%>" href="../register">Nýskráning</a>
          </div>
        <% } %>
      </div>
      
